*{
    box-sizing:border-box;
}
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, ul, li, table, tr, td, th, thead, tbody{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
a{
    text-decoration: none;
}

.string-img{
    width: 1.4em;
    /*vertical-align: bottom;*/
    margin-left: .5em;
    margin-right: .5em;
}

body {
    font-family: Verdana;
    background-color: #eee
}
#wrapper {
    margin-left: 5%;
    margin-right: 5%;
}
#header {
    height: 250px;
}
#header h1{
    font-size: 30px;
    padding-left: 100px;
    padding-top: 130px;
    font-weight: bold;
    color: #444;
}
#nav ul li{
    display: inline-block;

    list-style: none;
}
#nav ul a{
    display: table-cell;
    
    width: 150px;
    height: 50px;
    background-color: #999;

    color: #444;
    font-weight: bold;

    text-align: center;
    vertical-align: middle;
}
#nav a:hover{
    background-color: #444;
    color: #999;
}